## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WEATHER_DATABASE/WeatherPy_database.csv")
city_data_df = city_data_df.drop(columns="Unnamed: 0")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Port Hardy,CA,50.6996,-127.4199,53.78,62,75,8.05,broken clouds
1,Constitucion,CL,-35.3333,-72.4167,50.79,88,100,9.17,overcast clouds
2,Hasaki,JP,35.7333,140.8333,64.29,80,63,9.08,broken clouds
3,Busselton,AU,-33.6500,115.3333,58.23,67,0,13.47,clear sky
4,Barrow,US,71.2906,-156.7887,14.02,73,0,21.85,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
user_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
7,San Patricio,US,28.0170,-97.5169,83.53,75,14,18.52,few clouds
10,Mount Isa,AU,-20.7333,139.5000,76.77,41,93,10.36,overcast clouds
11,Mahebourg,MU,-20.4081,57.7000,77.25,83,40,9.22,scattered clouds
14,Lamar,US,33.6668,-95.5836,79.99,73,75,20.71,broken clouds
22,Padang,ID,-0.9492,100.3543,75.25,81,92,4.16,overcast clouds
23,Georgetown,MY,5.4112,100.3354,80.53,94,20,3.44,thunderstorm
26,Atuona,PF,-9.8000,-139.0333,79.25,80,13,14.72,light rain
29,Angoche,MZ,-16.2325,39.9086,75.87,91,90,8.77,overcast clouds
35,Bonthe,SL,7.5264,-12.5050,80.04,88,100,5.17,overcast clouds
38,Korampallam,IN,8.7667,78.1000,82.38,77,47,4.05,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
user_cities_df.count()

City           544
Country        544
Lat            544
Lng            544
Max Temp       544
Humidity       544
Cloudiness     544
Wind Speed     544
Description    544
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows for this data frame but will add code to create clean data frame and match the code down below
clean_df = user_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,San Patricio,US,83.53,few clouds,28.0170,-97.5169,
10,Mount Isa,AU,76.77,overcast clouds,-20.7333,139.5000,
11,Mahebourg,MU,77.25,scattered clouds,-20.4081,57.7000,
14,Lamar,US,79.99,broken clouds,33.6668,-95.5836,
22,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,
23,Georgetown,MY,80.53,thunderstorm,5.4112,100.3354,
26,Atuona,PF,79.25,light rain,-9.8000,-139.0333,
29,Angoche,MZ,75.87,overcast clouds,-16.2325,39.9086,
35,Bonthe,SL,80.04,overcast clouds,7.5264,-12.5050,
38,Korampallam,IN,82.38,scattered clouds,8.7667,78.1000,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,San Patricio,US,83.53,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Mount Isa,AU,76.77,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
11,Mahebourg,MU,77.25,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Lamar,US,79.99,broken clouds,33.6668,-95.5836,Kings Inn Paris TX
22,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang
23,Georgetown,MY,80.53,thunderstorm,5.4112,100.3354,Cititel Penang
26,Atuona,PF,79.25,light rain,-9.8000,-139.0333,Villa Enata
29,Angoche,MZ,75.87,overcast clouds,-16.2325,39.9086,Guest House HESADA
35,Bonthe,SL,80.04,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village
38,Korampallam,IN,82.38,scattered clouds,8.7667,78.1000,Regency Tuticorin by GRT Hotels

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))